/* This is css for a global branding/nav that can be used on all Princeton University Library sites. 
Note that Twitter Bootstrap's dropdown css and javascript are a dependency.  This file overrides some 
of Bootstrap's default navbar styles within the "thinbar". */

.thinbar {
    /* this is usually in the body, but included here to maintain consistency when cutting and pasting */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    /* end of default body styles */
    
    background-color: #000;
    height: 25px;
    min-height: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10001;
    overflow: visible;
}

.thinbar .navbar-nav {
  color: #BFBFBF;
  font-size: 11px;
  line-height: 12px !important;
  padding-top: -30px !important;
  padding-bottom: 5px !important;
  display: inline;
}
  
.thinbar a {
  color: #BFBFBF;
  font-size: 11px; 
}

.thinbar .nav .caret {
  border-top-color: #BFBFBF;
  border-bottom-color: #BFBFBF;
}

.thinbar .nav a:hover .caret {
  border-top-color: #BFBFBF;
  border-bottom-color: #BFBFBF;
}

.thinbar .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.thinbar .nav > li {
  position: relative;
  display: block;
}

.thinbar .nav > li > a {
  position: relative;
  display: block;
  padding: 2px 10px;
}

.thinbar .nav > li > a:hover,
.thinbar .nav > li > a:focus {
  text-decoration: none;
  background-color: #333333;
}

.thinbar .nav > li.disabled > a {
  color: #999999;
}

.thinbar .nav > li.disabled > a:hover,
.thinbar .nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.thinbar .nav .open > a,
.thinbar .nav .open > a:hover,
.thinbar .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}

.thinbar .nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.thinbar .nav > li > a > img {
  max-width: none;
}

// the main nav needs to be pushed down
// the same height of the thinbar (25px)
.navbar-default {
  top: 25px;
}
