.lux-alert-fullscreen[data-v-70d01e59] {
  position: fixed;
  top: 5vh;
  left: 50%;
  margin-left: -25vw !important;
  z-index: 9999;
  width: 50vw;
}
.lux-alert[data-v-70d01e59] {
  box-sizing: border-box;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  padding: 0.75rem 1.25rem;
  margin: 0 0 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.lux-alert-success[data-v-70d01e59] {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}
.lux-alert-error[data-v-70d01e59] {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}
.lux-alert-warning[data-v-70d01e59] {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}
.lux-alert-info[data-v-70d01e59] {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}
.lux-alert-dismissible .lux-close[data-v-70d01e59] {
  position: relative;
  top: -0.95rem;
  right: -1.25rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
}
button.lux-close[data-v-70d01e59] {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}
.lux-close[data-v-70d01e59] {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.fade-enter-active[data-v-70d01e59],
.fade-leave-active[data-v-70d01e59] {
  transition: opacity 0.5s;
}
.fade-enter[data-v-70d01e59],
.fade-leave-to[data-v-70d01e59] {
  opacity: 0;
}
.lux-card[data-v-b2d92710] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 24px;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  color: #001123;
}
.lux-card[data-v-b2d92710]:last-child {
  margin-bottom: 0;
}
.lux-card[data-v-b2d92710]:active {
  cursor: move;
}
.lux-card-selected[data-v-b2d92710],
.lux-card[data-v-b2d92710]:focus {
  box-shadow: 0 0 0 1px #e77500;
}
.lux-card-edited[data-v-b2d92710] {
  background: #e77500;
}
.lux-card-disabled[data-v-b2d92710] {
  opacity: 0.2;
  cursor: not-allowed;
}
.lux-card.small[data-v-b2d92710] {
  width: 200px;
}
.lux-card.medium[data-v-b2d92710] {
  width: 300px;
}
.lux-card.large[data-v-b2d92710] {
  width: 400px;
}
.lux-card .lux-heading[data-v-b2d92710],
.lux-card .lux-text-style[data-v-b2d92710] {
  padding: 0 1rem;
}
.lux-card .lux-heading[data-v-b2d92710],
.lux-card .lux-media-image[data-v-b2d92710],
.lux-card .lux-text-style[data-v-b2d92710] {
  pointer-events: none;
}
.lux-card .lux-text-style[data-v-b2d92710] {
  padding-bottom: 1rem;
}
.lux-heading[data-v-218b7e8a] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 24px;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  line-height: 1;
  color: #001123;
}
.lux-heading[data-v-218b7e8a]:last-child {
  margin-bottom: 0;
}
.lux-hidden[data-v-218b7e8a] {
  position: absolute !important;
  top: 0;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}
h1[data-v-218b7e8a] {
  font-size: 64px;
  font-size: 3vw;
  letter-spacing: -1px;
  font-weight: 700;
}
@media (max-width: 53.4em) {
  h1[data-v-218b7e8a] {
    font-size: 1.602em;
  }
}
@media (min-width: 105.23333em) {
  h1[data-v-218b7e8a] {
    font-size: 3.157em;
  }
}
h2[data-v-218b7e8a] {
  font-size: 48px;
  font-size: 2.5vw;
  letter-spacing: -0.5px;
  font-weight: 700;
}
@media (max-width: 56.96em) {
  h2[data-v-218b7e8a] {
    font-size: 1.424em;
  }
}
@media (min-width: 94.76em) {
  h2[data-v-218b7e8a] {
    font-size: 2.369em;
  }
}
h3[data-v-218b7e8a] {
  font-size: 36px;
  font-size: 2vw;
  font-weight: 700;
}
@media (max-width: 63.3em) {
  h3[data-v-218b7e8a] {
    font-size: 1.266em;
  }
}
@media (min-width: 88.85em) {
  h3[data-v-218b7e8a] {
    font-size: 1.777em;
  }
}
h4[data-v-218b7e8a] {
  font-size: 24px;
  font-size: 1.5vw;
  font-weight: 600;
}
@media (max-width: 75em) {
  h4[data-v-218b7e8a] {
    font-size: 1.125em;
  }
}
@media (min-width: 88.86667em) {
  h4[data-v-218b7e8a] {
    font-size: 1.333em;
  }
}
h5[data-v-218b7e8a] {
  font-size: 16px;
  font-size: 1vw;
  font-weight: 400;
}
@media (max-width: 100em) {
  h5[data-v-218b7e8a] {
    font-size: 1em;
  }
}
@media (min-width: 112.5em) {
  h5[data-v-218b7e8a] {
    font-size: 1.125em;
  }
}
h6[data-v-218b7e8a] {
  font-size: 13px;
  font-weight: 400;
}
.icon {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.icon.large svg {
  width: 48px;
  height: 48px;
}
.icon.medium svg {
  width: 24px;
  height: 24px;
}
.icon.small svg {
  width: 16px;
  height: 16px;
}
.lux-button[data-v-c1cdf608] {
  box-sizing: border-box;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  border: 0;
  border-radius: 3px;
  color: #001123;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  text-decoration: none;
  text-align: center;
  transition: background 0.25s ease-in-out, -webkit-transform 0.15s ease;
  transition: background 0.25s ease-in-out, transform 0.15s ease;
  transition: background 0.25s ease-in-out, transform 0.15s ease, -webkit-transform 0.15s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.lux-button[data-v-c1cdf608]:last-child {
  margin-bottom: 0;
}
.lux-button[data-v-c1cdf608]:active {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}
.lux-button.solid[data-v-c1cdf608] {
  background: #2c6eaf;
  color: #fff;
}
.lux-button.solid[data-v-c1cdf608]:focus,
.lux-button.solid[data-v-c1cdf608]:hover {
  background: #23578b;
}
.lux-button.text[data-v-c1cdf608] {
  background-color: transparent;
}
.lux-button.dropdown[data-v-c1cdf608] {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  color: #001123;
}
.lux-button.dropdown .lux-dropdown-indicator[data-v-c1cdf608] {
  line-height: 1;
  font-size: 11px;
  color: #41464e;
  margin-left: 4px;
}
.small[data-v-c1cdf608] {
  font-size: 13px;
}
.small .lux-dropdown-indicator[data-v-c1cdf608] {
  font-size: 11px;
}
.medium[data-v-c1cdf608] {
  font-size: 16px;
}
.medium .lux-dropdown-indicator[data-v-c1cdf608] {
  font-size: 13px;
}
.large[data-v-c1cdf608] {
  font-size: 24px;
}
.large .lux-dropdown-indicator[data-v-c1cdf608] {
  font-size: 20px;
}
.lux-expanded[data-v-c1cdf608] {
  display: block;
  width: 100%;
  max-width: 100%;
}
[disabled][data-v-c1cdf608] {
  background: #babec5;
  cursor: not-allowed;
}
[disabled][data-v-c1cdf608]:focus,
[disabled][data-v-c1cdf608]:hover {
  background: #babec5;
}
fieldset[data-v-10983b05] {
  border: 0;
  padding: 0;
}
.lux-input[data-v-10983b05] {
  margin-bottom: 16px;
  font-weight: 400;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.lux-input[data-v-10983b05]:last-child {
  margin-bottom: 0;
}
.lux-input legend[data-v-10983b05] {
  margin-bottom: 8px;
}
.lux-input label[data-v-10983b05] {
  padding-right: 24px;
}
.lux-checkbox[data-v-10983b05] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 8px;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  line-height: 1.6;
}
.lux-checkbox[data-v-10983b05]:last-child {
  margin-bottom: 0;
}
.lux-checkbox input[type="checkbox"][data-v-10983b05] {
  position: absolute !important;
  top: 0;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}
.lux-checkbox input[type="checkbox"][data-v-10983b05]:focus {
  box-shadow: inset 0 1px 0 0 rgba(0, 17, 35, 0.07), 0 0 0 1px #cccfd3;
}
.lux-checkbox label[data-v-10983b05] {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  cursor: pointer;
  padding-left: 24px;
}
.lux-checkbox label[data-v-10983b05]:after,
.lux-checkbox label[data-v-10983b05]:before {
  position: absolute;
  content: "";
  display: inline-block;
}
.lux-checkbox label[data-v-10983b05]:before {
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(0, 17, 35, 0.07), 0 0 0 1px #cccfd3;
  left: 0;
  top: 4px;
}
.lux-checkbox label[data-v-10983b05]:hover:before {
  box-shadow: 0 1px 5px 0 rgba(0, 17, 35, 0.07), 0 0 0 1px #99a0a7;
}
.lux-checkbox input:checked + label[data-v-10983b05]:before {
  transition: box-shadow 0.2s ease;
  background-color: #2c6eaf;
  box-shadow: inset 0 0 0 1px #2c6eaf, 0 0 0 1px #2c6eaf;
  outline: 0;
}
.lux-checkbox label[data-v-10983b05]:after {
  height: 5px;
  width: 10px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 3px;
  top: 7px;
}
.lux-checkbox input[type="checkbox"] + label[data-v-10983b05]:after {
  content: none;
}
.lux-checkbox input[type="checkbox"]:checked + label[data-v-10983b05]:after {
  content: "";
}
.lux-checkbox input[type="checkbox"]:focus + label[data-v-10983b05]:before {
  transition: box-shadow 0.08s ease;
  box-shadow: inset 0 0 0 1px #2c6eaf, 0 0 0 1px #2c6eaf;
}
.lux-checkbox input[type="checkbox"]:focus + label[data-v-10983b05] {
  transition: -webkit-text-decoration 0.08s ease;
  transition: text-decoration 0.08s ease;
  transition: text-decoration 0.08s ease, -webkit-text-decoration 0.08s ease;
  text-decoration: underline;
}
.lux-inline[data-v-10983b05] {
  display: inline-block;
}
[disabled][data-v-10983b05] {
  cursor: not-allowed;
}
fieldset[data-v-998f42d6] {
  border: 0;
  padding: 0;
}
.lux-input[data-v-998f42d6] {
  margin-bottom: 16px;
  font-weight: 400;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.lux-input[data-v-998f42d6]:last-child {
  margin-bottom: 0;
}
.lux-input legend[data-v-998f42d6] {
  margin-bottom: 8px;
}
.lux-input label[data-v-998f42d6] {
  padding-right: 24px;
}
.lux-radio[data-v-998f42d6] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 8px;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  line-height: 1.6;
}
.lux-radio[data-v-998f42d6]:last-child {
  margin-bottom: 0;
}
.lux-radio input[type="radio"][data-v-998f42d6] {
  position: absolute !important;
  top: 0;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}
.lux-radio label[data-v-998f42d6] {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  cursor: pointer;
  padding-left: 24px;
}
.lux-radio label[data-v-998f42d6]:after,
.lux-radio label[data-v-998f42d6]:before {
  position: absolute;
  content: "";
  display: inline-block;
}
.lux-radio label[data-v-998f42d6]:before {
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  box-shadow: inset 0 1px 0 0 rgba(0, 17, 35, 0.07), 0 0 0 1px #cccfd3;
  left: 0;
  top: 4px;
}
.lux-radio label[data-v-998f42d6]:hover:before {
  box-shadow: 0 1px 5px 0 rgba(0, 17, 35, 0.07), 0 0 0 1px #99a0a7;
}
.lux-radio input:checked + label[data-v-998f42d6]:before {
  transition: box-shadow 0.2s ease;
  background-color: #2c6eaf;
  box-shadow: inset 0 0 0 1px #2c6eaf, 0 0 0 1px #2c6eaf;
  outline: 0;
}
.lux-radio label[data-v-998f42d6]:after {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #fff;
  left: 5px;
  top: 9px;
}
.lux-radio input[type="radio"] + label[data-v-998f42d6]:after {
  content: none;
}
.lux-radio input[type="radio"]:checked + label[data-v-998f42d6]:after {
  content: "";
}
.lux-radio input[type="radio"]:focus + label[data-v-998f42d6]:before {
  transition: box-shadow 0.2s ease;
  box-shadow: inset 0 0 0 1px #2c6eaf, 0 0 0 1px #2c6eaf;
  outline: 0;
}
.lux-inline[data-v-998f42d6] {
  display: inline-block;
}
[disabled][data-v-998f42d6] {
  cursor: not-allowed;
}
.lux-select[data-v-1759b27e] {
  margin-bottom: 16px;
  font-weight: 400;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  width: auto;
}
.lux-select[data-v-1759b27e]:last-child {
  margin-bottom: 0;
}
.lux-select.lux-select-expand[data-v-1759b27e] {
  width: 100%;
}
.lux-select label[data-v-1759b27e] {
  display: block;
  font-size: 13px;
  color: #33414f;
  margin-bottom: 8px;
}
.lux-select label[data-v-1759b27e]:last-child {
  margin-bottom: 0;
}
.lux-select .lux-error[data-v-1759b27e] {
  margin-top: 8px;
  color: #c92813;
}
.lux-select .lux-select-error[data-v-1759b27e] {
  border: 1px solid #c92813;
}
.lux-select select[data-v-1759b27e] {
  box-sizing: border-box;
  padding: 8px 16px 9px;
  transition: all 0.2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 3px;
  color: #001123;
  margin: 0;
  border: 0;
  cursor: pointer;
  box-shadow: inset 0 1px 0 0 rgba(0, 17, 35, 0.07), 0 0 0 1px #cccfd3;
}
.lux-select select[data-v-1759b27e]:hover,
.lux-select select[hover][data-v-1759b27e] {
  box-shadow: 0 1px 5px 0 rgba(0, 17, 35, 0.07), 0 0 0 1px #99a0a7;
}
.lux-select select[data-v-1759b27e]:focus,
.lux-select select[focus][data-v-1759b27e] {
  transition: box-shadow 0.2s ease;
  box-shadow: inset 0 0 0 1px #2c6eaf, 0 0 0 1px #2c6eaf;
}
.lux-select select[disabled][data-v-1759b27e] {
  box-shadow: inset 0 1px 0 0 rgba(0, 17, 35, 0.07), 0 0 0 1px #cccfd3;
  background: #fff;
  cursor: not-allowed;
  opacity: 0.5;
}
.lux-input[data-v-46126c70] {
  margin-bottom: 16px;
  font-weight: 400;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  width: auto;
}
.lux-input[data-v-46126c70]:last-child {
  margin-bottom: 0;
}
.lux-input.lux-input-expand[data-v-46126c70] {
  width: 100%;
}
.lux-input label[data-v-46126c70] {
  display: block;
  font-size: 13px;
  color: #33414f;
  margin-bottom: 8px;
}
.lux-input label[data-v-46126c70]:last-child {
  margin-bottom: 0;
}
.lux-input .lux-error[data-v-46126c70] {
  margin-top: 8px;
  color: #c92813;
}
.lux-input .lux-input-error[data-v-46126c70] {
  border: 1px solid #c92813;
}
.lux-input input[data-v-46126c70] {
  box-sizing: border-box;
  padding: 8px 16px 9px;
  transition: all 0.2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 3px;
  color: #001123;
  margin: 0;
  border: 0;
  box-shadow: inset 0 1px 0 0 rgba(0, 17, 35, 0.07), 0 0 0 1px #cccfd3;
}
.lux-input input[data-v-46126c70]::-webkit-input-placeholder {
  -webkit-font-smoothing: antialiased;
  color: #caced3;
}
.lux-input input[data-v-46126c70]:-ms-input-placeholder {
  color: #caced3;
}
.lux-input input[data-v-46126c70]::-moz-placeholder {
  color: #caced3;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
}
.lux-input input[data-v-46126c70]:hover,
.lux-input input[hover][data-v-46126c70] {
  box-shadow: 0 1px 5px 0 rgba(0, 17, 35, 0.07), 0 0 0 1px #99a0a7;
}
.lux-input input[data-v-46126c70]:focus,
.lux-input input[focus][data-v-46126c70] {
  transition: box-shadow 0.2s ease;
  box-shadow: inset 0 0 0 1px #2c6eaf, 0 0 0 1px #2c6eaf;
  outline: 0;
}
.lux-input input[disabled][data-v-46126c70] {
  box-shadow: inset 0 1px 0 0 rgba(0, 17, 35, 0.07), 0 0 0 1px #cccfd3;
  background: #fff;
  cursor: not-allowed;
  opacity: 0.5;
}
.lux-loader[data-v-04d6ed70] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 24px;
  color: #001123;
}
.lux-loader[data-v-04d6ed70]:last-child {
  margin-bottom: 0;
}
.lux-loader[data-v-04d6ed70],
.lux-loader[data-v-04d6ed70]:after {
  border-radius: 50%;
}
.lux-loader[data-v-04d6ed70] {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-indent: -9999em;
  border: 1.1em solid hsla(0, 0%, 100%, 0.2);
  border-left-color: #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8-data-v-04d6ed70 1.1s linear infinite;
  animation: load8-data-v-04d6ed70 1.1s linear infinite;
}
.lux-loader[size="x-small"][data-v-04d6ed70] {
  border-width: 2px;
  height: 1rem;
  width: 1rem;
}
.lux-loader[size="small"][data-v-04d6ed70] {
  border-width: 3px;
  height: 1.5rem;
  width: 1.5rem;
}
.lux-loader[size="medium"][data-v-04d6ed70] {
  border-width: 7px;
  height: 5rem;
  width: 5rem;
}
.lux-loader[size="large"][data-v-04d6ed70] {
  border-width: 14px;
  height: 10rem;
  width: 10rem;
}
.lux-loader[size="x-large"][data-v-04d6ed70] {
  border-width: 18px;
  height: 20rem;
  width: 20rem;
}
@-webkit-keyframes load8-data-v-04d6ed70 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes load8-data-v-04d6ed70 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.lux-overlay.lux-fullscreen[data-v-04d6ed70] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
    repeat scroll transparent\9;
  z-index: 9999;
  color: #fff;
  border-radius: 4px;
}
.fade-enter-active[data-v-04d6ed70],
.fade-leave-active[data-v-04d6ed70] {
  transition: opacity 0.5s;
}
.fade-enter[data-v-04d6ed70],
.fade-leave-to[data-v-04d6ed70] {
  opacity: 0;
}
.lux-media-image[data-v-39ce042c] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 24px;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #001123;
  overflow: hidden;
  position: relative;
  height: auto;
}
.lux-media-image[data-v-39ce042c]:last-child {
  margin-bottom: 0;
}
.lux-media-image img[data-v-39ce042c] {
  background-color: #f5f5f5;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.lux-media-image .lux-cover[data-v-39ce042c] {
  object-fit: cover;
}
.lux-media-image .lux-contain[data-v-39ce042c] {
  object-fit: contain;
}
.lux-media-image.lux-default-thumbnail[data-v-39ce042c] {
  background: #959ca7;
  display: flex;
  align-items: center;
  height: 300px;
  width: 300px;
}
.lux-media-image.lux-default-thumbnail .lux-svg-icon[data-v-39ce042c],
.lux-media-image.lux-default-thumbnail svg[data-v-39ce042c] {
  display: block;
  margin: auto;
}
.lux-small[data-v-39ce042c] {
  height: 100px;
  width: 100%;
}
.lux-small img[data-v-39ce042c] {
  height: 100px;
  max-width: 100%;
}
.lux-medium[data-v-39ce042c] {
  height: 200px;
  width: 100%;
}
.lux-medium img[data-v-39ce042c] {
  height: 200px;
  max-width: 100%;
}
.lux-large[data-v-39ce042c] {
  height: 300px;
  width: 100%;
}
.lux-large img[data-v-39ce042c] {
  height: 300px;
  max-width: 100%;
}
.lux-spacer[data-v-02e56732] {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  flex-grow: 1 !important;
}
.lux-svg-icon[data-v-49bee75e] {
  display: inline-flex;
  align-self: center;
}
.lux-svg-icon svg[data-v-49bee75e] {
  top: 0.125em;
  position: relative;
}
.lux-logo-svg[data-v-49bee75e] {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20.58823529px;
  width: auto;
}
.lux-text-style[data-v-d0d5839e] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 16px;
  color: #001123;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
.lux-text-style[data-v-d0d5839e]:last-child {
  margin-bottom: 0;
}
.lux-text-style.disabled[data-v-d0d5839e] {
  color: #66707b;
  text-decoration: line-through;
}
.lux-text-style.strong[data-v-d0d5839e] {
  font-weight: 600;
}
.lux-text-style.emphasis[data-v-d0d5839e] {
  font-style: italic;
}
.lux-text-style.positive[data-v-d0d5839e] {
  color: #639113;
}
.lux-text-style.negative[data-v-d0d5839e] {
  color: #c92813;
}
.lux-wrapper[data-v-6230551e] {
  box-sizing: border-box;
  padding: 0;
  margin: auto;
}
.lux-wrapper .lux-full-width[data-v-6230551e] {
  width: 100%;
}
.lux-library-contact[data-v-3ece8ae7] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 8px;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #001123;
}
.lux-library-contact[data-v-3ece8ae7]:last-child {
  margin-bottom: 0;
}
.lux-library-contact a[data-v-3ece8ae7] {
  text-decoration: none;
  color: #001123;
}
.lux-library-contact h2[data-v-3ece8ae7] {
  color: #001123;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
.icons[data-v-3ece8ae7] {
  list-style-type: none;
  margin: 8px 0 0;
  padding: 0;
}
.icons li[data-v-3ece8ae7] {
  display: inline;
}
.lux-library-contact[data-v-5dc06ba0] {
  margin: 0;
}
.lux-accessibility[data-v-5b69d11a],
.lux-library-contact[data-v-5dc06ba0] {
  box-sizing: border-box;
  padding: 0;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1;
  color: #001123;
}
.lux-accessibility[data-v-5b69d11a] {
  margin: 0 0 24px;
}
.lux-accessibility[data-v-5b69d11a]:last-child {
  margin-bottom: 0;
}
.lux-accessibility a[data-v-5b69d11a] {
  color: #001123;
  text-decoration: none;
}
.lux-accessibility a[data-v-5b69d11a]:focus,
.lux-accessibility a[data-v-5b69d11a]:hover {
  text-decoration: underline;
}
.lux-copyright[data-v-fbd0a384] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 4px;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1;
  color: #001123;
}
.lux-copyright[data-v-fbd0a384]:last-child {
  margin-bottom: 0;
}
.lux-university-logo[data-v-463955e3] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 8px;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1;
  color: #001123;
}
.lux-university-logo[data-v-463955e3]:last-child {
  margin-bottom: 0;
}
.lux-dropdown-menu[data-v-e66d76ec] {
  box-sizing: border-box;
  padding: 0;
  margin: 0.25rem;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #001123;
  position: relative;
  display: inline-block;
  top: 0;
}
.lux-dropdown-menu[data-v-e66d76ec]:last-child {
  margin-bottom: 0;
}
.lux-dropdown-menu .lux-dropdown[data-v-e66d76ec] {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  margin: 0;
}
.lux-dropdown-menu .lux-dropdown[data-v-e66d76ec]:focus,
.lux-dropdown-menu .lux-dropdown[data-v-e66d76ec]:hover {
  background: #f5f5f5;
}
.lux-dropdown-menu .lux-menu[data-v-e66d76ec],
.lux-dropdown-menu .lux-nav[data-v-e66d76ec] {
  opacity: 0;
  visibility: hidden;
}
.lux-dropdown-menu .lux-show[data-v-e66d76ec] {
  opacity: 1;
  z-index: 100000;
  visibility: visible;
}
.lux-dropdown-menu[data-v-e66d76ec] .lux-nav {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  position: absolute;
  min-width: calc(100% - 1px);
  margin: 1px 0 0;
  z-index: 100000;
}
.lux-dropdown-menu[data-v-e66d76ec] .lux-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.lux-dropdown-menu[data-v-e66d76ec] .lux-nav li {
  display: block;
}
.lux-dropdown-menu[data-v-e66d76ec] .lux-nav .lux-nav-item {
  background: #fff;
  border: 0;
  color: #001123;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  margin: 0;
  width: 100%;
  text-align: left;
  font-size: 13px;
}
.lux-dropdown-menu[data-v-e66d76ec] .lux-nav .lux-nav-item:focus,
.lux-dropdown-menu[data-v-e66d76ec] .lux-nav .lux-nav-item:hover {
  color: #001123;
  background: #f5f5f5;
  transition: opacity 0.1s ease;
}
.lux-dropdown-menu[data-v-e66d76ec] .lux-nav .lux-nav-item:active {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}
.lux-dropdown-menu[data-v-e66d76ec] .lux-nav .lux-disabled {
  color: #828a97;
}
.lux-dropdown-menu[data-v-e66d76ec] .lux-nav .lux-disabled:focus,
.lux-dropdown-menu[data-v-e66d76ec] .lux-nav .lux-disabled:hover {
  background: #fff;
  cursor: not-allowed;
  outline: none;
}
.lux-gallery[data-v-22285ecc] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  height: calc(100% - 40px);
  border-radius: 4px;
  margin-bottom: 40px;
  clear: both;
}
.lux-gallery .lux-card[data-v-22285ecc] {
  margin: 1rem;
  height: auto;
  overflow: hidden;
  white-space: wrap;
}
.lux-gallery .lux-card .lux-media-image img[data-v-22285ecc] {
  height: auto;
}
.lux-library-footer[data-v-c8e0f804] {
  box-sizing: border-box;
  margin: 0 0 24px;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  line-height: 1;
  color: #001123;
  background: #f5f5f5;
  padding: 0 0 1em;
}
.lux-library-footer[data-v-c8e0f804]:last-child {
  margin-bottom: 0;
}
.lux-footer-content[data-v-c8e0f804] {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  padding: 1em;
}
@media (min-width: 900px) {
  .lux-footer-content[data-v-c8e0f804] {
    flex-direction: row;
    max-width: 1170px;
  }
}
.lux-library-links[data-v-c8e0f804] {
  order: 0;
  align-self: auto;
}
@media (min-width: 900px) {
  .lux-library-links[data-v-c8e0f804] {
    flex: 1;
  }
}
.lux-library-links h2[data-v-c8e0f804] {
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.lux-library-links a[data-v-c8e0f804] {
  text-decoration: none;
  color: #001123;
}
.lux-library-links a[data-v-c8e0f804]:focus,
.lux-library-links a[data-v-c8e0f804]:hover {
  text-decoration: underline;
}
.lux-library-links ul[data-v-c8e0f804] {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.lux-library-links ul li[data-v-c8e0f804] {
  line-height: 1.6;
  font-size: 13px;
}
.lux-library-header[data-v-52395530] {
  box-sizing: border-box;
  margin: 0;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  background: #41464e;
  color: #001123;
  padding: 0 24px;
  border-top: 3px solid #f58025;
}
.lux-library-header .lux-header-content[data-v-52395530] {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 8px;
}
@media (min-width: 900px) {
  .lux-library-header .lux-header-content[data-v-52395530] {
    max-width: 1170px;
  }
}
.lux-library-header .lux-header-content .lux-app-name[data-v-52395530]:not(:empty) {
  border-left: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  height: 35px;
  letter-spacing: 1px;
  line-height: 33px;
  margin: 8px 0 0;
  text-decoration: none;
}
@media (min-width: 600px) {
  .lux-library-header .lux-header-content[data-v-52395530] {
    flex-direction: row;
  }
  .lux-library-header .lux-header-content[data-v-52395530] .lux-app-name:not(:empty) {
    border-left: 1px solid #babec5;
    padding: 0 0 0 1rem;
    margin: 0 0 0 1rem;
  }
}
.lux-library-header[data-v-52395530] .lux-dropdown-menu .lux-dropdown {
  background: transparent;
  color: #fff;
}
.lux-library-header[data-v-52395530] .lux-dropdown-menu .lux-dropdown .lux-dropdown-indicator {
  color: #fff;
}
.lux-library-header[data-v-52395530] .lux-nav {
  min-width: 100px;
  top: 37px;
  right: 0;
  width: auto;
}
.lux-library-header[data-v-52395530] .lux-nav a {
  color: #fff;
  white-space: nowrap;
}
.lux-library-header[data-v-52395530] .lux-nav a:focus,
.lux-library-header[data-v-52395530] .lux-nav a:hover {
  color: #fff;
  text-decoration: underline;
}
.lux-nav[data-v-aa0f3ad2] {
  margin-bottom: 24px;
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #fff;
  text-align: center;
  width: 100%;
}
.lux-nav[data-v-aa0f3ad2]:last-child {
  margin-bottom: 0;
}
.lux-nav ul[data-v-aa0f3ad2] {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.lux-nav li[data-v-aa0f3ad2] {
  display: inline-block;
}
.lux-nav a[data-v-aa0f3ad2] {
  color: #2c6eaf;
  padding: 8px 0;
  margin: 0 8px;
  text-decoration: none;
  display: inline-block;
}
.lux-nav a[data-v-aa0f3ad2]:hover {
  color: #2c6eaf;
}
.lux-nav a.lux-active[data-v-aa0f3ad2] {
  border-bottom: 2px solid #2c6eaf;
  font-weight: 700;
  color: #2c6eaf;
}
.lux-menu[data-v-aa0f3ad2] {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  position: absolute;
  min-width: calc(100% - 1px);
  margin: 1px 0 0;
  z-index: 999;
  transition: opacity 0.1s ease;
}
.lux-menu ul[data-v-aa0f3ad2] {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.lux-menu li[data-v-aa0f3ad2] {
  display: block;
}
.lux-menu .lux-menu-item[data-v-aa0f3ad2] {
  background: #fff;
  border: 0;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  font-size: 13px;
}
.lux-menu .lux-menu-item[data-v-aa0f3ad2]:focus,
.lux-menu .lux-menu-item[data-v-aa0f3ad2]:hover {
  background: #f5f5f5;
  transition: opacity 0.1s ease;
}
.lux-menu .lux-menu-item[data-v-aa0f3ad2]:active {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}
.lux-menu .lux-disabled[data-v-aa0f3ad2] {
  color: #828a97;
}
.lux-menu .lux-disabled[data-v-aa0f3ad2]:focus,
.lux-menu .lux-disabled[data-v-aa0f3ad2]:hover {
  background: #fff;
  cursor: not-allowed;
  outline: none;
}
.svg-icon[data-v-32dd1b02] {
  display: inline-flex;
  align-self: center;
}
.svg-icon svg[data-v-32dd1b02] {
  top: 0.125em;
  position: relative;
}
.friends-b[data-v-41755926] {
  fill: #fff;
}
.pul-logo-c[data-v-687aad23] {
  -webkit-clip-path: url(#clip-path);
  clip-path: url(#clip-path);
}
.pul-logo-d[data-v-687aad23] {
  fill: #fff;
}
.pu-logo-mc-a[data-v-3c144416] {
  fill: #ed6d0b;
}
.pu-logo-mc-b[data-v-3c144416] {
  fill: #000;
}
.lux-index[data-v-7f268e56] {
  box-sizing: border-box;
  margin: 0;
  padding: 24px;
  min-height: 512px;
  background: #001123;
  background: linear-gradient(0deg, #001021, #0d1d2e 100%);
  text-align: center;
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
}
.lux-index .lux-heading[data-v-7f268e56],
.lux-index .lux-text-style[data-v-7f268e56] {
  color: #fff;
}
.lux-index .lux-text-link[data-v-7f268e56] {
  color: #2c6eaf;
}
.lux-index .lux-wrapper[data-v-7f268e56] {
  max-width: 576px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.lux-index a[data-v-7f268e56] {
  font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
  color: #2c6eaf;
  text-decoration: underline;
}
.lux-not-found[data-v-a5916c76] {
  box-sizing: border-box;
  margin: 0;
  padding: 24px;
  min-height: 512px;
  background: #001123;
  background: linear-gradient(0deg, #001021, #0d1d2e 100%);
  text-align: center;
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
}
.lux-not-found .lux-heading[data-v-a5916c76],
.lux-not-found .lux-text-style[data-v-a5916c76] {
  color: #fff;
}
.lux-not-found .lux-text-link[data-v-a5916c76] {
  color: #2c6eaf;
}
.lux-not-found .lux-wrapper[data-v-a5916c76] {
  max-width: 576px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
